In [1]:
import pandas as pd
import numpy as np

In [4]:
date_str = ['2018, 1, 1', '2018, 1, 4', '2018, 1, 5', '2018, 1, 6']
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2018-01-01', '2018-01-04', '2018-01-05', '2018-01-06'], dtype='datetime64[ns]', freq=None)

In [5]:
np.random.seed(0)
s = pd.Series(np.random.randn(4), index = idx)
s

2018-01-01    1.764052
2018-01-04    0.400157
2018-01-05    0.978738
2018-01-06    2.240893
dtype: float64

In [6]:
pd.date_range('2022-1-1', '2022-1-31')

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30', '2022-01-31'],
              dtype='datetime64[ns]', freq='D')

In [8]:
pd.date_range('2022-1-1', periods=31)

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30', '2022-01-31'],
              dtype='datetime64[ns]', freq='D')

In [9]:
pd.date_range('2022-1-1', '2022-1-31', freq = 'B')

DatetimeIndex(['2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06',
               '2022-01-07', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-17', '2022-01-18',
               '2022-01-19', '2022-01-20', '2022-01-21', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-31'],
              dtype='datetime64[ns]', freq='B')

In [10]:
pd.date_range('2022-1-1', '2022-1-31', freq = 'W')

DatetimeIndex(['2022-01-02', '2022-01-09', '2022-01-16', '2022-01-23',
               '2022-01-30'],
              dtype='datetime64[ns]', freq='W-SUN')

In [11]:
pd.date_range('2022-1-1', '2022-1-31', freq = 'W-MON')

DatetimeIndex(['2022-01-03', '2022-01-10', '2022-01-17', '2022-01-24',
               '2022-01-31'],
              dtype='datetime64[ns]', freq='W-MON')

In [12]:
pd.date_range('2022-1-1', '2022-1-31', freq = 'MS')

DatetimeIndex(['2022-01-01'], dtype='datetime64[ns]', freq='MS')

In [13]:
pd.date_range('2022-1-1', '2022-1-31', freq = 'M')

DatetimeIndex(['2022-01-31'], dtype='datetime64[ns]', freq='M')

In [14]:
pd.date_range('2022-1-1', '2022-12-31', freq = 'BMS')

DatetimeIndex(['2022-01-03', '2022-02-01', '2022-03-01', '2022-04-01',
               '2022-05-02', '2022-06-01', '2022-07-01', '2022-08-01',
               '2022-09-01', '2022-10-03', '2022-11-01', '2022-12-01'],
              dtype='datetime64[ns]', freq='BMS')

In [15]:
pd.date_range('2022-1-1', '2022-12-31', freq = 'BM')

DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-29',
               '2022-05-31', '2022-06-30', '2022-07-29', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-30'],
              dtype='datetime64[ns]', freq='BM')

In [17]:
pd.date_range('2022-1-1', '2022-12-31', freq = 'WOM-2THU')

DatetimeIndex(['2022-01-17', '2022-02-21', '2022-03-21', '2022-04-18',
               '2022-05-16', '2022-06-20', '2022-07-18', '2022-08-15',
               '2022-09-19', '2022-10-17', '2022-11-21', '2022-12-19'],
              dtype='datetime64[ns]', freq='WOM-3MON')

In [18]:
pd.date_range('2022-1-1', '2022-12-31', freq = 'Q-JAN')

DatetimeIndex(['2022-01-31', '2022-04-30', '2022-07-31', '2022-10-31'], dtype='datetime64[ns]', freq='Q-JAN')

In [19]:
pd.date_range('2022-1-1', '2022-12-31', freq = 'Q-DEC')

DatetimeIndex(['2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31'], dtype='datetime64[ns]', freq='Q-DEC')

In [21]:
np.random.seed(0)
ts = pd.Series(np.random.randn(4),index = pd.date_range("2022-1-1", periods = 4, freq = 'M'))
ts

2022-01-31    1.764052
2022-02-28    0.400157
2022-03-31    0.978738
2022-04-30    2.240893
Freq: M, dtype: float64

In [22]:
ts.shift(1)

2022-01-31         NaN
2022-02-28    1.764052
2022-03-31    0.400157
2022-04-30    0.978738
Freq: M, dtype: float64

In [23]:
ts.shift(-1)

2022-01-31    0.400157
2022-02-28    0.978738
2022-03-31    2.240893
2022-04-30         NaN
Freq: M, dtype: float64

In [27]:
ts.shift(1, freq = "M")

2022-02-28    1.764052
2022-03-31    0.400157
2022-04-30    0.978738
2022-05-31    2.240893
Freq: M, dtype: float64

In [34]:
ts.shift(1, freq = "W")

2022-02-06    1.764052
2022-03-06    0.400157
2022-04-03    0.978738
2022-05-01    2.240893
dtype: float64

In [38]:
ts = pd.Series(np.random.randn(100), index=pd.date_range(
    "2018-1-1", periods=100, freq="D"))
ts.tail(20)

2018-03-22    1.488252
2018-03-23    1.895889
2018-03-24    1.178780
2018-03-25   -0.179925
2018-03-26   -1.070753
2018-03-27    1.054452
2018-03-28   -0.403177
2018-03-29    1.222445
2018-03-30    0.208275
2018-03-31    0.976639
2018-04-01    0.356366
2018-04-02    0.706573
2018-04-03    0.010500
2018-04-04    1.785870
2018-04-05    0.126912
2018-04-06    0.401989
2018-04-07    1.883151
2018-04-08   -1.347759
2018-04-09   -1.270485
2018-04-10    0.969397
Freq: D, dtype: float64

In [41]:
ts.resample('W').mean()

2018-01-07    0.305776
2018-01-14    0.629064
2018-01-21   -0.006910
2018-01-28    0.277065
2018-02-04   -0.144972
2018-02-11   -0.496299
2018-02-18   -0.474473
2018-02-25   -0.201222
2018-03-04   -0.775142
2018-03-11    0.052868
2018-03-18   -0.450379
2018-03-25    0.601892
2018-04-01    0.334893
2018-04-08    0.509605
2018-04-15   -0.150544
Freq: W-SUN, dtype: float64

In [42]:
ts.resample('M').first()

2018-01-31    1.867558
2018-02-28    0.156349
2018-03-31   -1.726283
2018-04-30    0.356366
Freq: M, dtype: float64

In [47]:
ts = pd.Series(np.random.randn(60), index = pd.date_range("2022-1-1", periods = 60, freq = "T"))
ts

2022-01-01 00:00:00   -0.364694
2022-01-01 00:01:00    0.156704
2022-01-01 00:02:00    0.578521
2022-01-01 00:03:00    0.349654
2022-01-01 00:04:00   -0.764144
2022-01-01 00:05:00   -1.437791
2022-01-01 00:06:00    1.364532
2022-01-01 00:07:00   -0.689449
2022-01-01 00:08:00   -0.652294
2022-01-01 00:09:00   -0.521189
2022-01-01 00:10:00   -1.843070
2022-01-01 00:11:00   -0.477974
2022-01-01 00:12:00   -0.479656
2022-01-01 00:13:00    0.620358
2022-01-01 00:14:00    0.698457
2022-01-01 00:15:00    0.003771
2022-01-01 00:16:00    0.931848
2022-01-01 00:17:00    0.339965
2022-01-01 00:18:00   -0.015682
2022-01-01 00:19:00    0.160928
2022-01-01 00:20:00   -0.190653
2022-01-01 00:21:00   -0.394850
2022-01-01 00:22:00   -0.267734
2022-01-01 00:23:00   -1.128011
2022-01-01 00:24:00    0.280442
2022-01-01 00:25:00   -0.993124
2022-01-01 00:26:00    0.841631
2022-01-01 00:27:00   -0.249459
2022-01-01 00:28:00    0.049495
2022-01-01 00:29:00    0.493837
2022-01-01 00:30:00    0.643314
2022-01-01 00:31:00   -1.570623
2022-01-01 00:32:00   -0.206904
2022-01-01 00:33:00    0.880179
2022-01-01 00:34:00   -1.698106
2022-01-01 00:35:00    0.387280
2022-01-01 00:36:00   -2.255564
2022-01-01 00:37:00   -1.022507
2022-01-01 00:38:00    0.038631
2022-01-01 00:39:00   -1.656715
2022-01-01 00:40:00   -0.985511
2022-01-01 00:41:00   -1.471835
2022-01-01 00:42:00    1.648135
2022-01-01 00:43:00    0.164228
2022-01-01 00:44:00    0.567290
2022-01-01 00:45:00   -0.222675
2022-01-01 00:46:00   -0.353432
2022-01-01 00:47:00   -1.616474
2022-01-01 00:48:00   -0.291837
2022-01-01 00:49:00   -0.761492
2022-01-01 00:50:00    0.857924
2022-01-01 00:51:00    1.141102
2022-01-01 00:52:00    1.466579
2022-01-01 00:53:00    0.852552
2022-01-01 00:54:00   -0.598654
2022-01-01 00:55:00   -1.115897
2022-01-01 00:56:00    0.766663
2022-01-01 00:57:00    0.356293
2022-01-01 00:58:00   -1.768538
2022-01-01 00:59:00    0.355482
Freq: T, dtype: float64

In [48]:
ts.resample('10T').sum()

2022-01-01 00:00:00   -1.980149
2022-01-01 00:10:00   -0.061054
2022-01-01 00:20:00   -1.558425
2022-01-01 00:30:00   -6.461015
2022-01-01 00:40:00   -3.323603
2022-01-01 00:50:00    2.313505
Freq: 10T, dtype: float64

In [52]:
ts.resample('10T', closed = 'right').sum()

2021-12-31 23:50:00   -0.364694
2022-01-01 00:00:00   -3.458525
2022-01-01 00:10:00    1.591362
2022-01-01 00:20:00   -0.724457
2022-01-01 00:30:00   -8.089840
2022-01-01 00:40:00   -1.480169
2022-01-01 00:50:00    1.455581
Freq: 10T, dtype: float64

In [53]:
ts.resample('5T').ohlc()

                         open      high       low     close
2022-01-01 00:00:00 -0.364694  0.578521 -0.764144 -0.764144
2022-01-01 00:05:00 -1.437791  1.364532 -1.437791 -0.521189
2022-01-01 00:10:00 -1.843070  0.698457 -1.843070  0.698457
2022-01-01 00:15:00  0.003771  0.931848 -0.015682  0.160928
2022-01-01 00:20:00 -0.190653  0.280442 -1.128011  0.280442
2022-01-01 00:25:00 -0.993124  0.841631 -0.993124  0.493837
2022-01-01 00:30:00  0.643314  0.880179 -1.698106 -1.698106
2022-01-01 00:35:00  0.387280  0.387280 -2.255564 -1.656715
2022-01-01 00:40:00 -0.985511  1.648135 -1.471835  0.567290
2022-01-01 00:45:00 -0.222675 -0.222675 -1.616474 -0.761492
2022-01-01 00:50:00  0.857924  1.466579 -0.598654 -0.598654
2022-01-01 00:55:00 -1.115897  0.766663 -1.768538  0.355482

In [57]:
ts.resample('30s').ffill().head(20)

2022-01-01 00:00:00   -0.364694
2022-01-01 00:00:30   -0.364694
2022-01-01 00:01:00    0.156704
2022-01-01 00:01:30    0.156704
2022-01-01 00:02:00    0.578521
2022-01-01 00:02:30    0.578521
2022-01-01 00:03:00    0.349654
2022-01-01 00:03:30    0.349654
2022-01-01 00:04:00   -0.764144
2022-01-01 00:04:30   -0.764144
2022-01-01 00:05:00   -1.437791
2022-01-01 00:05:30   -1.437791
2022-01-01 00:06:00    1.364532
2022-01-01 00:06:30    1.364532
2022-01-01 00:07:00   -0.689449
2022-01-01 00:07:30   -0.689449
2022-01-01 00:08:00   -0.652294
2022-01-01 00:08:30   -0.652294
2022-01-01 00:09:00   -0.521189
2022-01-01 00:09:30   -0.521189
Freq: 30S, dtype: float64

In [58]:
ts.resample('30s').bfill().head(20)

2022-01-01 00:00:00   -0.364694
2022-01-01 00:00:30    0.156704
2022-01-01 00:01:00    0.156704
2022-01-01 00:01:30    0.578521
2022-01-01 00:02:00    0.578521
2022-01-01 00:02:30    0.349654
2022-01-01 00:03:00    0.349654
2022-01-01 00:03:30   -0.764144
2022-01-01 00:04:00   -0.764144
2022-01-01 00:04:30   -1.437791
2022-01-01 00:05:00   -1.437791
2022-01-01 00:05:30    1.364532
2022-01-01 00:06:00    1.364532
2022-01-01 00:06:30   -0.689449
2022-01-01 00:07:00   -0.689449
2022-01-01 00:07:30   -0.652294
2022-01-01 00:08:00   -0.652294
2022-01-01 00:08:30   -0.521189
2022-01-01 00:09:00   -0.521189
2022-01-01 00:09:30   -1.843070
Freq: 30S, dtype: float64

In [59]:
s = pd.Series(pd.date_range("2022-12-25", periods=100, freq="D"))
s

0    2022-12-25
1    2022-12-26
2    2022-12-27
3    2022-12-28
4    2022-12-29
        ...
95   2023-03-30
96   2023-03-31
97   2023-04-01
98   2023-04-02
99   2023-04-03
Length: 100, dtype: datetime64[ns]

In [60]:
s.dt.year

0     2022
1     2022
2     2022
3     2022
4     2022
      ...
95    2023
96    2023
97    2023
98    2023
99    2023
Length: 100, dtype: int64

In [62]:
s.dt.weekday

0     6
1     0
2     1
3     2
4     3
     ..
95    3
96    4
97    5
98    6
99    0
Length: 100, dtype: int64

In [67]:
s.dt.strftime("%Y년 %m월 %d일")

0     2022년 12월 25일
1     2022년 12월 26일
2     2022년 12월 27일
3     2022년 12월 28일
4     2022년 12월 29일
          ...
95    2023년 03월 30일
96    2023년 03월 31일
97    2023년 04월 01일
98    2023년 04월 02일
99    2023년 04월 03일
Length: 100, dtype: object

In [69]:
np.random.seed(0)
df = pd.DataFrame({
    "date": pd.date_range("2020-12-25", periods=100, freq="D"), 
    "value": np.random.randint(100, size=(100,))
})
df

         date  value
0  2020-12-25     44
1  2020-12-26     47
2  2020-12-27     64
3  2020-12-28     67
4  2020-12-29     67
..        ...    ...
95 2021-03-30     23
96 2021-03-31     79
97 2021-04-01     13
98 2021-04-02     85
99 2021-04-03     48

[100 rows x 2 columns]

In [76]:
s = pd.Series(df['date'])
s

0    2020-12-25
1    2020-12-26
2    2020-12-27
3    2020-12-28
4    2020-12-29
        ...
95   2021-03-30
96   2021-03-31
97   2021-04-01
98   2021-04-02
99   2021-04-03
Name: date, Length: 100, dtype: datetime64[ns]

In [89]:
dec = 0
jan = 0
feb = 0
mar = 0
apr = 0
for i in range(100):
    if s.dt.month[i] == 12:
        dec += 1
    if s.dt.month[i] == 1:
        jan += 1
    if s.dt.month[i] == 2:
        feb += 1
    if s.dt.month[i] == 3:
        mar += 1
    if s.dt.month[i] == 4:
        apr += 1
print(dec, jan, feb, mar, apr)

7 31 28 31 3

In [105]:
s2 = pd.Series(df['value'])
s2

0     44
1     47
2     64
3     67
4     67
      ..
95    23
96    79
97    13
98    85
99    48
Name: value, Length: 100, dtype: int32

In [113]:
i = 0
decsum =0
jansum =0
febsum =0
marsum =0
aprsum =0
dec = 7    
jan = dec + 31
feb = jan +28
mar = feb + 31
apr = mar + 3
while i < dec:
    decsum += s2[i]
    i += 1
while i < jan:
    jansum += s2[i]
    i += 1
while i < feb:
    febsum += s2[i]
    i += 1
while i < mar:
    marsum += s2[i]
    i += 1
while i < apr:
    aprsum += s2[i]
    i += 1
d=decsum/7
j=jansum/31
f=febsum/28
m=marsum/31
a=aprsum/3
print(decsum,jansum,febsum,marsum,aprsum)

381 1811 985 1500 146

In [112]:
s = df["date"].squeeze()
df_m = s.dt.month.to_frame()
df_m.rename(columns={'date':'month'}, inplace=True)
#df_m

df2 = pd.concat([df, df_m], axis=1)
#df2
df2.value.groupby(df2.month).sum()

month
1     1811
2      985
3     1500
4      146
12     381
Name: value, dtype: int32

In [114]:
np.random.seed(0)
df=pd.DataFrame({
'date': pd.date_range('2020-12-25',periods=100,freq='D'),
'value': np.random.randint(100,size=(100,))})
df.set_index('date')
df['month']=df['date'].dt.month
df.groupby('month')['value'].sum()

month
1     1811
2      985
3     1500
4      146
12     381
Name: value, dtype: int32