In [3]:
import pandas as pd

In [2]:
%%writefile sample1.csv
c1, c2, c3
1, 11, 111, one
2, 22, 222, two
3, 33, 333, three

Writing sample1.csv

In [14]:
pd.read_csv('sample1.csv')

   c1   c2      c3
1  11  111     one
2  22  222     two
3  33  333   three

In [9]:
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

Overwriting sample2.csv

In [11]:
pd.read_csv('sample2.csv', names = ['c1', 'c2', 'c3'])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [24]:
pd.read_csv('sample1.csv', index_col= 'c1')

KeyError: 'c1'

In [25]:
%%writefile sample3.txt
c1        c2        c3        c4
0.179181 -1.538472  1.347553  0.43381
1.024209  0.087307 -1.281997  0.49265
0.417899 -2.002308  0.255245 -1.10515

Writing sample3.txt

In [28]:
pd.read_table('sample3.txt', sep='\s+')

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

In [29]:
%%writefile sample4.txt
파일 제목: sample4.txt
데이터 포맷의 설명:
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample4.txt

In [35]:
pd.read_table('sample4.txt', skiprows=[0,1])

       c1, c2, c3
0    1, 1.11, one
1    2, 2.22, two
2  3, 3.33, three

In [36]:
%%writefile sample5.csv
c1, c2, c3
1, 1.11, one
2, , two
누락, 3.33, three

Writing sample5.csv

In [44]:
df = pd.read_csv('sample5.csv', na_values= ['누락'])
df

    c1     c2      c3
0  1.0   1.11     one
1  2.0            two
2  NaN   3.33   three

In [62]:
df = pd.read_csv('sample5.csv')
df

   c1     c2      c3
0   1   1.11     one
1   2            two
2  누락   3.33   three

In [49]:
df.to_csv('sample6.csv', sep = '|')

In [50]:
!type sample6.csv

|c1| c2| c3
0|1.0| 1.11| one
1|2.0| | two
2|| 3.33| three

In [ ]:
df.to_csv('sample7.csv', sep = '|')

In [65]:
df.to_csv('sample8.csv', na_rep='누락')

In [64]:
!type sample8.csv

,c1, c2, c3
0,1, 1.11, one
1,2, , two
2,�늻�씫, 3.33, three

In [69]:
df.index = ['a', 'b', 'c']
df

   c1     c2      c3
a   1   1.11     one
b   2            two
c  누락   3.33   three

In [74]:
df.to_csv('sample9.csv', index= False, header=False)
!type sample9.csv

1, 1.11, one
2, , two
�늻�씫, 3.33, three

In [76]:
df = pd.read_csv("https://raw.githubusercontent.com/datascienceschool/docker_rpython/master/data/titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [78]:
pd.set_option('display.max_rows', 20)
df

AttributeError: 'DataFrame' object has no attribute 'set_option'

In [80]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [81]:
df.tail(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [90]:
import datetime
dt_start = datetime.datetime(2015, 1, 1)
dt_end = '2016, 6, 30'

In [87]:
pip install pandas-datareader

Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Requirement already satisfied: pandas>=0.23 in c:\users\gsenr\anaconda3\lib\site-packages (from pandas-datareader) (1.4.2)
Requirement already satisfied: requests>=2.19.0 in c:\users\gsenr\anaconda3\lib\site-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: lxml in c:\users\gsenr\anaconda3\lib\site-packages (from pandas-datareader) (4.8.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gsenr\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\gsenr\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\gsenr\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\gsenr\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\gsenr\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\gsenr\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\gsenr\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\gsenr\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.9)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0
Note: you may need to restart the kernel to use updated packages.

In [98]:
import pandas_datareader as pdr
gdp = pdr.get_data_fred('GDP', dt_start, dt_end)
gdp.tail()

SSLError: HTTPSConnectionPool(host='fred.stlouisfed.org', port=443): Max retries exceeded with url: /graph/fredgraph.csv?id=GDP (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:1129)')))

In [94]:
gdp = pd.read_excel('GDP.xls')

In [95]:
gdp.

,FRED Graph Observations,Unnamed: 1
0,Federal Reserve Economic Data,NaN
1,Link: https://fred.stlouisfed.org,NaN
2,Help: https://fredhelp.stlouisfed.org,NaN
3,Economic Research Division,NaN
4,Federal Reserve Bank of St. Louis,NaN
5,NaN,NaN
6,GDP,"Gross Domestic Product, Billions of Dollars, Q..."
7,NaN,NaN
8,Frequency: Quarterly,NaN
9,observation_date,GDP
10,2015-01-01 00:00:00,17991.348
11,2015-04-01 00:00:00,18193.707
12,2015-07-01 00:00:00,18306.96
13,2015-10-01 00:00:00,18332.079
14,2016-01-01 00:00:00,18425.306
15,2016-04-01 00:00:00,18611.617